@media (max-width: 999px) {
	#step-2 {
		top: 230px;
	}

	#step-4 {
		top: 165px;
	}
}

@media (max-width: 767px) {
	.texosnastka__step-index {
		position: static;
		margin: 0 auto;
	}

	.texosnastka__description {
		text-align: center;
	}

	.texosnastka__step-description {
		text-align: center;
	}

	.texosnastka__image-outer {
		margin: 0 auto 25px;
		float: none;
	}

	.texosnastka__equipment-examples {
		height: 300px;
	}

	.texosnastka__image-example {
		height: 300px;
	}

	.texosnastka__section-examples {
		height: 300px;
	}
}
