* {
	font-family: 'Roboto', sans-serif;
}

.texosnastka__h1 {
	color: #fff;
	font-size: 40px;
	margin-bottom: 20px;
}

.texosnastka__h2 {
	color: #000;
	font-size: 30px;
	line-height: 1;
	margin: 40px 0 50px;
	text-align: center;
}

.texosnastka__h3 {
	color: #000;
	font-size: 20px;
	margin-top: 20px;
}

.navbar-header {
	margin-left: -30px;
}

.navbar-nav {
	float: right;
}

.navbar-inverse .navbar-nav  > li > a {
	color: #fff;
}

.navbar-brand {
	padding: 0px 0px 0px 20px;
}

.logo-image {
	height: 50px;
}

.texosnastka__about-company {
	background-image: url(../images/134136.jpg);
	padding: 50px 0;
}

.texosnastka__text-about-company {
	color: #fff;
	font-size: 16px;
	line-height: 1.75;
	margin-bottom: 30px;
}

.texosnastka__video {
	text-decoration: none;
	color: #fff;
}

.texosnastka__play-video-about-us {
	margin-left: 10px;
}

.texosnastka__advantage {
	text-align: center;
}

.texosnastka__advantage-icon {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.texosnastka__price {
	background-image: url(../images/money.png);
}

.texosnastka__quality {
	background-image: url(../images/quality.png);
}

.texosnastka__car {
	background-position: 0 7px;
	background-image: url(../images/car.png);
}

.texosnastka__step-index {
	border: 1px solid black;
	border-radius: 50%;
	font-size: 34px;
	font-weight: bold;
	display: block;
	position: absolute;
	text-align: center;
	height: 50px;
	width: 50px;
	top: 20px;
	left: 10px;
}

#step-2 {
	top: 185px;
}

#step-4 {
	top: 145px;
}

.texosnastka__description {
	position: relative;
	padding-left: 80px;
	line-height: 1.5;
	box-sizing: border-box;
}

.texosnastka__step-description {
	margin-top: 10px;
}

.texosnastka__step-image {
	margin-top: 20px;
}

.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.texosnastka__equipment-examples {
	padding: 10% 0;
	text-align: center;
	border: 2px solid #000;
	height: 100%;
}

.texosnastka__h3 {
	font-size: 24px;
}

.texosnastka__equipment-examples p {
	font-size: 18px;
}

.texosnastka__image-example {
	height: 100%;
	width: 100%;
}

.texosnastka__equipment-examples-image {
	background-size: contain;
	background-repeat: no-repeat;
}

.texosnastka__section-examples {
	padding: 10% 0;
	text-align: center;
	border: 2px solid #000;
}

.texosnastka__h3 {
	font-size: 24px;
}

.texosnastka__section-examples p {
	font-size: 18px;
}

.texosnastka__section-examples-image {
	background-size: contain;
	background-repeat: no-repeat;
	height: 300px;
}

.texosnastka__request {
	background-color: #000;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
}

.texosnastka__retain-request {
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	text-decoration: none;
	font-size: 24px;
	padding: 10px 20px;
}

.texosnastka__retain-request:hover {
	text-decoration: none;
}

.texosnastka__footer {
	border-top: 2px solid #000;
	text-align: center;
	margin: 20px 0;
}

.texosnastka__company-brand {
	font-size: 18px;
	display: block;
}
