* {
	margin: 0;
	padding: 0;
	height: auto;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #fff;
	opacity: 0.8;
	font-size: 40px;
	margin-bottom: 20px;
}

h2 {
	color: #000;
	font-size: 30px;
	line-height: 1;
	margin: 40px 0 50px;
	text-align: center;
}

h3 {
	color: #000;
	font-size: 20px;
	margin-top: 20px;
}

header {
	width: 100%;
	height: auto;
}

.menu {
	background-color: #000;
	padding: 20px 0px 20px 0px;
	clear: both;
}

.company-name {
	display: inline;
	margin-left: 50px;
	color: #fff;
}

.main-nav {
	float: right;
	margin-right: 30px;
	list-style-type: none;
}

.main-nav li {
	display: inline;
}

.main-nav a {
	color: #fff;
	font: bold 14px 'Roboto', sans-serif;
	margin-left: 20px;
	text-decoration: none;
}

.main-nav a:hover{
	color: #ff4f57;
	opacity: 1.2;
}

.about-company {
	background-image: url(../images/134136.jpg);
	padding-bottom: 50px;
	padding-top: 50px;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 1000px;
}

.text-about-company {
	color: #fff;
	font-size: 16px;
	line-height: 1.75;
	width: 40%;
	margin-bottom: 30px;
}

.logo {
	margin-left: 50px;
}

.video {
	text-decoration: none;
	color: #fff;
}

.play-video-about-us {
	vertical-align: middle;
	margin-left: 5px;
}

.advantages {
	clear: both;
	padding-bottom: 30px;
}

.advantage {
	display: block;
	float: left;
	width: 33.33%;
	box-sizing: border-box;
	padding: 0 40px;
	text-align: center;
}

.advantage p {
	margin-top: 10px;
}

.advantage-icon {
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.price {
	background-image: url(../images/money.png);
}

.quality {
	background-image: url(../images/quality.png);
}

.car {
	background-position: 0 7px;
	background-image: url(../images/car.png);
}

.clear {
	clear: both;
}

.production-steps {
	
}

.step-inside {
	width: 600px;
	float: left;
}

.step-index {
	float: left;
	display: inline;
	font-size: 34px;
	border: 1px solid black;
	border-radius: 50%;
	padding: 0 10px;
	margin-right: 15px;
}

.description {
	display: block;
	padding-left: 60px;
	line-height: 1.5;
	margin-right: 20px;
	box-sizing: border-box;
}

.description p {
	margin-top: 10px;
}

.step-image {
	margin-top: 20px;
	float: right;
}

.our-works {
	margin-bottom: 20px;
}

.our-works p {
	text-align: center;
}

.equipment-examples {
	float: left;
	height: 100%;
	width: 50%;
	padding: 10% 0;
}

.equipment-examples h3 {
	margin-top: 0;
	text-align: center;
}

.equipment-examples-image {
	float: right;
	height: 300px;
	width: 50%;
}

.section-examples {
	float: right;
	height: 100%;
	width: 50%;
	padding: 10% 0;
}

.section-examples h3 {
	margin-top: 0;
	text-align: center;
}

.section-examples-image {
	float: left;
	height: 300px;
	width: 50%;
}

.retain-request {
	text-align: center;
	background-color: #000;
	padding: 10px 0;
}

.retain-request button {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000;
	border: none;
	font-size: 22px;
}

.retain-request a {
	color: #fff;
	text-decoration: none;
}

footer {
	text-align: center;
	margin: 20px 0 40px;
}